.mco-topology-edge {
  &--active-operation {
    animation: pulse-edge 2s ease-in-out infinite;

    // Style the directional arrow
    .pf-topology-connector-arrow {
      fill: var(--pf-v5-global--active-color--100);
      stroke: var(--pf-v5-global--active-color--100);
      stroke-width: 2;
    }
  }
}

@keyframes pulse-edge {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
}
